.customHeader{
    background-color: #EAE4D5;
    height: 12vh;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    border: 3px solid black;
}

.groupLink{
    font-size: 17pt;
    color:black;
}

.mainHeader{
    margin-bottom: 10px;
    padding-top: 10px;
}